<div class="container mt-5 mb-5">
  
  <div class="row mb-5">
    
    <div class="col">
      <h1 class="display-6">Welcome to SimplyConnect</h1>
      <h1 class="lead text-muted">Get right to your chats, no fuss!</h1>
    </div>
  
  </div>
  
  <div class="row">
    
    <div class="col-3">
      <ul class="list-group shadow">
        <li class="list-group-item">
          <strong>Users</strong>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Sapana
          <% if logged_in? %>
            <span class="badge bg-success rounded-pill">Online</span>
          <% end %>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Venkat
          <% if logged_in? %>
            <span class="badge bg-success rounded-pill">Online</span>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-9">
      <div class="card shadow" style="height: 30rem;">
        <div class="card-header">
          Activity
        </div>
        <div class="card-body" id = "message-container">
          <%= render @messages %>
        </div>
        <div class="card-footer">
          <%= form_for(@message, html: {class: "form"}, url: message_path, remote: true) do |f| %>
            <div class="input-group mb-2 mt-2">
              <%= f.text_field :body, class: "form-control", id: "message-body", placeholder: "Enter your message" %>
              <%= f.button "Send", class: "btn btn-warning" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  
  </div>

</div>