@import "bootstrap";

#navbar-logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.navbar-brand {
  float: left;
  font-size: 1.5em;
  letter-spacing: -1px;
  font-weight: bold;
  margin-right: 25px;
}